[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs-material = "==4.6.3"
nltk = "==3.4.5"
mkdocs-git-revision-date-localized-plugin = "*"

[requires]
python_version = "3.6"

[scripts]
serve = "mkdocs serve"